asgiref==3.7.2
autopep8==1.6.0
beautifulsoup4==4.12.2
crispy-bootstrap4==2023.1
dj-database-url==0.5.0
Django==5.0
django-admin-adminlte==1.0.5
django-bootstrap-static==4.2.1
django-bootstrap-staticfiles==3.0.0.1
django-bootstrap4==23.4
django-crispy-forms==2.1
django-environ==0.8.1
fontawesomefree==6.0.0
gunicorn==20.1.0
mysqlclient==2.2.1
pycodestyle==2.8.0
python-dotenv==1.0.0
pytz==2021.3
soupsieve==2.5
sqlparse==0.4.2
toml==0.10.2
tzdata==2023.3
whitenoise==5.3.0
