    body {
        background-color: #f8f4f4;
        margin: 0;
    }

    .circle {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #e0e0e0;
        position: relative;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
    }

    .more-content {
        clear: both;
        text-align: right;
    }

    .fill {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #3498db;
    }

    .card {
        margin-top: -10px;
        width: 1200px;
        margin-left: 50px;
    }

    .table th,
    .table td {
        text-align: center;
    }

    .status-circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
    }

    .status-online {
        background-color: #28a745;
    }

    .status-offline {
        background-color: #dc3545;
    }

    .section-heading {
        margin-bottom: 20px;
        border-bottom: 2px solid #ddd;
        padding-bottom: 10px;
    }

    .table-section {
        margin-top: 20px;
    }

    .btn-add {
        position: fixed;
        bottom: 50px;
        right: 50px;
        z-index: 1000;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
    }

    .btn-add .icon {
        font-size: 24px;
        color: white;
        text-decoration: none;
        position: relative;
        top: -1px;
        z-index: 1;
    }

    .btn-add .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #B4ADEA;
        transition: background-color 0.3s ease;
    }

    .btn-add:hover .background {
        background-color: #8568B2;
    }

    /* Eliminamos la clase .btn-plus */

    /* Nueva clase para el área de acciones dentro de la barra desplegable */
    .acciones-container {
        display: flex;
        justify-content: space-around;
    }

    .acciones-container a {
        color: white;
    }

    .acciones-container a:hover {
        text-decoration: none;
    }
