.header {
    display: flex;
/*            justify-content: space-between;*/
    align-items: center;
}

.header img {
    margin-right: 10px;  /* Ajusta el margen entre la imagen y el texto según tus preferencias */
}

.options {
    display: flex;
    /* Cambia 'space-around' a 'flex-start' para alinear a la izquierda */
    justify-content: flex-start;
    margin-top: 0px;
}

.option {
    text-align: center;
    margin-right: 20px;  /* Ajusta el margen entre las opciones según tus preferencias */
}

.option i {
    font-size: 24px;  /* Ajusta el tamaño del icono según tus preferencias */
}
